body {
    font-family: Roboto, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

header {
    background-color: #333;
    color: #fff;
    padding: 100px;
    text-align: center;
    width: 100%;
    height: 300px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
  flex: 3; /* Title occupies 75% of the space */
}

.authors,
.journal {
  flex: 1; /* Authors and Journal each occupy 25% of the space */
}

h1 {
    margin-top: 0;
}

section {
    padding: 20px;
    width: 100%;
    max-width: 800px;
    border-bottom: 2px solid #ddd; /* Add border between sections */
    margin-bottom: 20px; /* Add space between sections */
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.reference {
    margin-top: 30px;
}

.reference h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.reference p {
    margin-bottom: 10px;
}

.journal {
    font-style: italic;
    font-weight: normal;
}

.authors {
    font-weight: normal;
}

h2 {
    margin-top: 10px;
    margin-bottom: 50px;
}

p {
  text-align: justify; 
}

.link{
  text-align: center;
}

.image-caption {
  text-align: center;
  font-style: italic;
  font-size: 14px;
  margin-top: 5px;
}

.image-container img {
  width: 200px; 
  padding: 20px;
}

table.greyGridTable {
    border: 2px solid #FFFFFF;
    width: 75%;
    text-align: center;
    border-collapse: collapse;
    margin: 50px auto;
    padding: 20px; 
    
  }
  table.greyGridTable td, table.greyGridTable th {
    border: 1px solid #FFFFFF;
    padding: 3px 4px;
  }
  table.greyGridTable tbody td {
    font-size: 13px;
  }
  table.greyGridTable td:nth-child(even) {
    background: #EBEBEB;
  }
  table.greyGridTable thead {
    background: #FFFFFF;
    border-bottom: 4px solid #333333;
  }
  table.greyGridTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    border-left: 2px solid #333333;
  }
  table.greyGridTable thead th:first-child {
    border-left: none;
  }
  
  table.greyGridTable tfoot td {
    font-size: 14px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
  }

  caption {
    padding: 20px;
  }
  
  figure {
    padding: 20px; 
  }
  
  /* CSS for images */
  .img-container img {
    width: 100%; /* Make the image fill the container width */
    height: auto;
  }

  .img-container {
    width: 300px; /* Set a fixed width for the image container */
    margin: 0 auto; /* Center the image container horizontally */
  }

  .img-container-wide {
    width: 100%; /* Set a fixed width for the image container */
    margin: 0 auto; /* Center the image container horizontally */
  }

  .pdf-container {
    width: 100%;
    height: 800px; 
    padding: 20px;
    max-width: 800px;
  }

  .video-container {
    max-width: 800px; /* Adjust max-width as needed */
    margin: 0 auto; /* Center the video horizontally */
    padding: 100px;
  }

  /* Style for the video player */
  video {
    width: 100%; /* Make the video player fill its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Make the video player a block element f*/
  }

  .video-item {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  
  .video-item iframe {
    width: 100%;
  }
  
  .video-item p {
    margin-top: 10px;
  }
