body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 300px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 0;
}

section {
    padding: 20px;
    width: 100%;
    max-width: 800px;
    border-bottom: 2px solid #ddd; /* Add border between sections */
    margin-bottom: 20px; /* Add space between sections */
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.reference {
    margin-top: 30px;
}

.reference h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.reference p {
    margin-bottom: 10px;
}

.journal {
    font-style: italic;
    font-weight: normal;
}

.authors {
    font-weight: normal;
}

h2 {
    margin-top: 10px;
    margin-bottom: 50px;
}

table.greyGridTable {
    border: 2px solid #FFFFFF;
    width: 75%;
    text-align: center;
    border-collapse: collapse;
    margin: 50px auto;
    padding: 20px; 
    
  }
  table.greyGridTable td, table.greyGridTable th {
    border: 1px solid #FFFFFF;
    padding: 3px 4px;
  }
  table.greyGridTable tbody td {
    font-size: 13px;
  }
  table.greyGridTable td:nth-child(even) {
    background: #EBEBEB;
  }
  table.greyGridTable thead {
    background: #FFFFFF;
    border-bottom: 4px solid #333333;
  }
  table.greyGridTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    border-left: 2px solid #333333;
  }
  table.greyGridTable thead th:first-child {
    border-left: none;
  }
  
  table.greyGridTable tfoot td {
    font-size: 14px;
  }